 /*     Importing Google fonts    */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Smooch+Sans:wght@500&display=swap');

body {
  background-color: #ffffff;
  margin-left: 2px;
  margin-right: 2px;
}

 /* Applying CSS to sphere */
.tagcloud {
  display: inline-block;
  top: 10px;
  left: 3%;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item:hover {
  color: red ;
}

.container
{
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.asciiPicture img{
  /* width: 360px; */
  min-width: 280px;
  max-width: 500px;
  height: auto;
  
}

.quote
{
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
span
{
    position: relative;
    margin-left: 15px;
}
.titleCard h2{
  width: auto;
  padding-top: 0;
  border-radius: 1em;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
.aboutMeTitle h2{
  margin-left: 1%;
  width: auto;
  padding-top: 0;
  border-radius: 1em;
  text-align: right;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}

.quote1{
  width: 400px;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.asciidiv{
  padding-left: 15%;
}

