 /*     Importing Google fonts    */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Smooch+Sans:wght@500&display=swap');

body {
  background-color: #ffffff;
}

 /* Applying CSS to sphere */
.tagcloud {
  display: inline-block;
  top: 10px;
  left: 3%;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item:hover {
  color: red ;
}

.container
{
    padding: 3em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.head-container{
  padding: 3em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.asciiPicture img{
  /* width: 360px; */
  min-height: 300px;
  max-height: 400px;
  width: auto;
}
.mainPicture img{
  /* width: 360px; */
  padding-left: 2em;
  max-height: 550px;
  width: auto;
}

.quote
{
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
span
{
    position: relative;
    margin-left: 15px;
}
.titleCard{
  /* margin-left: 20%;
  width: auto;
  padding-left: 3em; */
  padding-top: 9rem;
  border-radius: 1em;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
.titleCard-2{
  width: auto;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 1em;
  text-align: right;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}

.quote1{
  width: 400px;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}